
.header {
    padding: 12px 15px;
    border-bottom: 1px solid $grey;
    
    .header-content {
        padding: 5px;
        display: flex;
        align-items: center;

        .actions {
            align-items: flex-end;
            margin-left: auto;
            display: flex;

            h2 {
                font-size: 20px;
                font-weight: 400;
            }

            * {
                margin-right: 14px;
            }

            a {
                color: $black;
                text-decoration: none;
            }
    
        }


        :last-child {
            margin-right: 1vw;
        }

        .logo {
            max-height: 50px;
            margin-left: 2vw;
        }
    }
}

@media screen and (max-height: 700px) {
    .header {
        padding: 5px 5px !important;
    }
}
